{% extends 'section.html' %}
{% block content %}
    {{ super() }}

    <table>
        {% for item in data.list|sort_and_group(date_field='end', group_field='organization') %}
            <tr class="table-row table-head">
                <td colspan="2">{{ item.organization }}</td>
            </tr>
            <tr class="table-row">
                <td>{{ item.start|reformat('%Y') }}-{{ item.end|reformat('%Y') }}:</td>
                <td>{{ item.function }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
