<div class="page">
    <div class="flex-container">
        <div class="left">
            {% with section_id='person', data=person %}
                {% include 'person.html' %}
            {% endwith %}
            {% with section_id='contact', data=contact %}
                {% include 'contact.html' %}
            {% endwith %}
            {% with section_id='online', data=online %}
                {% include 'online.html' %}
            {% endwith %}
            {% with section_id='languages', data=languages %}
                {% include 'languages.html' %}
            {% endwith %}
            {% with section_id='education', data=education %}
                {% include 'education.html' %}
            {% endwith %}
            {% with section_id='references', data=references %}
                {% include 'references.html' %}
            {% endwith %}
            {% with section_id='skills', data=skills %}
                {% include 'skills_short.html' %}
            {% endwith %}
        </div>
        <div class="right">
            {% with section_id='motto', data=person %}
                {% include 'motto.html' %}
            {% endwith %}
            {% with section_id='experience', data=experience %}
                {% include 'experience.html' %}
            {% endwith %}
        </div>
    </div>
</div>
